<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198299003179-k2kje32qv5968n574v7b84k4v80cp8p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198299003179-k2kje32qv5968n574v7b84k4v80cp8p5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198299003179-tl50l0kqsmsdddnqqjn7ej8spvi3b9lk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-cXGLzDO0IF7WZnRIN1eBOZrVHxCcls</string>
	<key>GCM_SENDER_ID</key>
	<string>198299003179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laodev.huppekeeee</string>
	<key>PROJECT_ID</key>
	<string>huppekeeee</string>
	<key>STORAGE_BUCKET</key>
	<string>huppekeeee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198299003179:ios:2294d499f10910f6923d6e</string>
	<key>DATABASE_URL</key>
	<string>https://huppekeeee.firebaseio.com</string>
</dict>
</plist>